@font-face {
    font-family:"adobe-clean";
    src:url("/fonts/adobe-clean-400.woff2") format("woff2");
    font-display:fallback;font-style:normal;font-weight:400;
}

@font-face {
    font-family:"adobe-clean";
    src:url("/fonts/adobe-clean-700.woff2") format("woff2");
    font-display:fallback;font-style:normal;font-weight:700;
}